
@font-face {
    font-family: 'superMario';
    src: url('fonts/supermario256-webfont.eot');
    src: url('fonts/supermario256-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/supermario256-webfont.woff2') format('woff2'),
         url('fonts/supermario256-webfont.woff') format('woff'),
         url('fonts/supermario256-webfont.ttf') format('truetype'),
         url('fonts/supermario256-webfont.svg#super_mario_256regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@-webkit-keyframes walking {
	0% { background-image: url('images/mario2.png');}
	33% { background-image: url('images/mario3.png');}
	66% { background-image: url('images/mario4.png');}
	100% { background-image: url('images/mario3.png');}
}
@-webkit-keyframes background{
	from {background-position: 0 ,0}
	to {background-position: -960px,0}
}
@-webkit-keyframes bullet-bill {
	0% { background-image: url('images/bullet-bill1.png');}
	50% { background-image: url('images/bullet-bill2.png');}
	100% { background-image: url('images/bullet-bill3.png');}
}
@-webkit-keyframes coin {
	0% { background-image: url('images/coin1.png');}
	33% { background-image: url('images/coin2.png');}
	66% { background-image: url('images/coin3.png');}
	100% { background-image: url('images/coin4.png');}
}
@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.1);
    }
    to {
        -webkit-transform: scale(1);
    }
}

body{
	font-family: 'superMario';
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    color: white;
	margin: 0;
	overflow: hidden;
	background-image:url('images/bg.jpg');
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-size: 960px 100%;
	background-origin: padding-box, content-box;
	height: 100vh;
	-webkit-animation: background 30s linear infinite;
}
#timer{
	position: absolute;
	top: 20px;
	right: 20px;
	height: 50px;
	width: 200px;
}
#lives{
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 45px;
}
#counter{
	margin-left: -15px;
}
#coins{
	position: absolute;
	top: 100px;
	left: 20px;
	font-size: 45px;	
}
#sol{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('images/bg-sol.jpg');
	height: 72px;
}
#decor{
	position: absolute;
	bottom: 72px;
	left: 0;
	right: 0;
	background-image: url('images/decor.png');
	background-repeat: no-repeat;
	height: 50px;
}
#personnage{
	height: 47px;
	width: 35px;
	background-image: url('images/mario1.png');
	background-repeat: no-repeat;
	position: relative;
	bottom: 0;
	display: inline-block;
	z-index: 99;
}
.walking-right{
	-webkit-animation: walking 500ms steps(1, end)  infinite;
}
.walking-left{
	transform: scaleX(-1);
	-webkit-animation: walking 500ms steps(1, end)  infinite;
}
.reverse{
	transform: scaleX(-1);
}
#personnage.jump{
	background-image: url('images/mario5.png');	
}
#personnage.fall{
	background-image:url('images/mario6.png');
}
.bullet-bill{
	width: 30px;
	height: 15px;
	position: absolute;
	top:50%;
	left: 99%;
	transform:scaleX(-1);
	background-image: url('images/bullet-bill1.png');
	-webkit-animation: bullet-bill 500ms steps(1, end)  infinite;
	z-index: 98;
}
.coin{
	height: 24px;
	width: 24px;
	position: absolute;
	top: 50%;
	left: 99%;
	z-index: 97;
	-webkit-animation: coin 500ms steps(2, end)  infinite;
}
#plateforme1{
	width: 150px;
	height: 5px;
	background: black;
	position: absolute;
	bottom: 50px;
	left: 50%;
}
#menu{
	position: absolute;
	width: 500px;
	top: 20%;
	left: 50%;
	margin-left: -250px;
	text-align: center;
}
figure{
	width: 500px;
	margin: 10px 0 45px;
}
#menu p{
	text-align: center;
	font-size: 2em;	
	padding: 7px 60px;
	margin: 0;
}
#menu #start{
	height: 45px;
	width: 290px;
	margin: auto;
	border-radius: 5px;
	background: #ffb032; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb032 0%, #ffff32 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffb032 0%,#ffff32 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffb032 0%,#ffff32 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb032', endColorstr='#ffff32',GradientType=0 ); /* IE6-9 */

	transition: all 300ms linear;
}
#menu #start:hover{
	cursor: pointer;

	-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);

    border: 2px solid #000;    
}
#menu #start:hover p{
	-webkit-animation: smallToBig 700ms ease;
}