
@-webkit-keyframes walking {
	0% { background-image: url('images/mario2.png');}
	33% { background-image: url('images/mario3.png');}
	66% { background-image: url('images/mario4.png');}
	100% { background-image: url('images/mario3.png');}
}
@-webkit-keyframes background{
	from {background-position: 0 ,0}
	to {background-position: -960px,0}
}
@-webkit-keyframes bullet-bill {
	0% { background-image: url('images/bullet-bill1.png');}
	50% { background-image: url('images/bullet-bill2.png');}
	100% { background-image: url('images/bullet-bill3.png');}
}
@-webkit-keyframes coin {
	0% { background-image: url('images/coin1.png');}
	33% { background-image: url('images/coin2.png');}
	66% { background-image: url('images/coin3.png');}
	100% { background-image: url('images/coin4.png');}
}

body{
	margin: 0;
	overflow: hidden;
	background-image:url('images/bg.jpg');
	background-repeat: repeat-x;
	background-position: 0px 0px;
	background-size: 960px 100%;
	background-origin: padding-box, content-box;
	height: 100vh;
	-webkit-animation: background 30s linear infinite;
}
#score{
	position: absolute;
	top: 20px;
	left: 20px;
	background-image: url('images/score.png');
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
}
#timer{
	position: absolute;
	top: 20px;
	right: 20px;
	height: 50px;
	width: 200px;
}
#sol{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('images/bg-sol.jpg');
	height: 72px;
}
#decor{
	position: absolute;
	bottom: 72px;
	left: 0;
	right: 0;
	background-image: url('images/decor.png');
	background-repeat: no-repeat;
	height: 50px;
}
#personnage{
	height: 47px;
	width: 35px;
	background-image: url('images/mario1.png');
	background-repeat: no-repeat;
	position: relative;
	bottom: 0;
	display: inline-block;
	z-index: 99;
}
.walking-right{
	-webkit-animation: walking 500ms steps(1, end)  infinite;
}
.walking-left{
	transform: scaleX(-1);
	-webkit-animation: walking 500ms steps(1, end)  infinite;
}
.reverse{
	transform: scaleX(-1);
}
#personnage.jump{
	background-image: url('images/mario5.png');	
}
#personnage.fall{
	background-image:url('images/mario6.png');
}
.bullet-bill{
	width: 30px;
	height: 15px;
	position: absolute;
	top:50%;
	left: 99%;
	transform:scaleX(-1);
	background-image: url('images/bullet-bill1.png');
	-webkit-animation: bullet-bill 500ms steps(1, end)  infinite;
	z-index: 98;
}
.coin{
	height: 24px;
	width: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 97;
	-webkit-animation: coin 500ms steps(2, end)  infinite;
}
#plateforme1{
	width: 150px;
	height: 5px;
	background: black;
	position: absolute;
	bottom: 50px;
	left: 50%;
}